#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; 
  color: #333; 
}

.Entire-Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #4A90E2; 
}

button {
  background-color: #4A90E2; 
  color: white; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #357ABD; 
}

img {
  margin-top: 20px;
  max-width: 10%; 
  height: auto; 
  border-radius: 10px; 
}
.dog-history {
  display: flex; 
  flex-wrap:wrap-reverse;
  margin-top: 20px; 
}

.dog-thumbnail {
  width: 100px; 
  height: auto; 
  margin: 5px; 
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}


